---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d6eef78081dcf039082c726d3248d6bb"'
    body:
      encoding: ASCII-8BIT
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiM2ViZGQ1YTlkNTBjNDQwMDhlZjVmMzRkM2Y5MDc3OTEiLCJ1c2VyX2lkIjoyMzEzMjcxLCJuYW1lIjoiaGFubmFoIHZpb2xldCJ9.c5hb4DMaRPKMKO7RIederXu2TDPqbhlYyUralfYyFyU","user":{"id":2313271,"email":"hcbviolet@gmail.com","created_at":"2015-10-27T16:02:46.321-07:00","updated_at":"2016-04-04T16:55:52.659-07:00","facebook_id":null,"first_name":"hannah","last_name":"violet","role":"user","stripe_customer_id":"cus_7hbf7hFMQgsNQ1","twitter_handle":"","skype_handle":"","github_handle":"hcbviolet","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"After double majoring in pre-med and ancient
        Near Eastern languages, Seattle-native and David Bowie aficionado Hannah Violet
        has finally found coding as a way to combine her loves of math, language,
        and making stuff. She is beyond excited to be on the path to becoming a web
        developer with Bloc! ","photo_file_name":"IMG_1061.JPG","photo_content_type":"image/jpeg","photo_file_size":2338499,"photo_updated_at":"2016-01-11T12:37:13.317-08:00","tos":null,"send_new_message_emails":true,"referred_by_id":null,"slug":"hannah-violet","os":"OS
        X","last_seen_at":"2016-04-04T16:55:52.574-07:00","private_profile":false,"google_plus_id":"111032954941704193106","linkedin":"","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4476,"phone_num":"2068837461","title":null,"quota_limit":0,"dribbble_handle":"","codecademy_handle":"hcbviolet","student_profile_id":null,"birthdate":"1990-07-11","gender":"","first_visit_id":null,"codewars_handle":"hcbviolet"}}'
  recorded_at: Tue, 05 Apr 2016 00:03:23 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiM2ViZGQ1YTlkNTBjNDQwMDhlZjVmMzRkM2Y5MDc3OTEiLCJ1c2VyX2lkIjoyMzEzMjcxLCJuYW1lIjoiaGFubmFoIHZpb2xldCJ9.c5hb4DMaRPKMKO7RIederXu2TDPqbhlYyUralfYyFyU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"076a9a7646f82996f884ab0d74286a25"'
    body:
      encoding: UTF-8
      string: '{"id":2313271,"slug":"hannah-violet","name":"hannah violet","email":"hcbviolet@gmail.com","title":null,"first_name":"hannah","last_name":"violet","facebook_id":null,"url":"/users/hannah-violet","bio":"After
        double majoring in pre-med and ancient Near Eastern languages, Seattle-native
        and David Bowie aficionado Hannah Violet has finally found coding as a way
        to combine her loves of math, language, and making stuff. She is beyond excited
        to be on the path to becoming a web developer with Bloc! ","course":{"id":34,"kind":"web_dev_track","length":36,"name":"Full
        Stack Web Developer Track","default_payment_plan_group":"normaltrack","mentor_payment_multiple":1.0,"appointments_per_week":2,"created_at":"2015-04-22T17:22:23.947-07:00","updated_at":"2015-07-15T11:12:20.058-07:00","director_id":537104,"mentor_weekly_pay_rate":15000,"description":"Web
        Dev Career Track","occupation_name":"Web Developer","prework":null,"default_goal_options":null,"level":"full","track":true,"roadmap_count":2},"current_enrollment":{"id":9794,"created_at":"2015-12-11T14:49:34.880-08:00","updated_at":"2016-04-04T14:29:05.651-07:00","cohort_id":null,"status":"active","mentor_id":623967,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"2015-12-11T14:49:34.877-08:00","roadmap_id":31,"course_end_date":"2016-05-16T00:00:00.000-07:00","course_start_date":"2016-01-11T00:00:00.000-08:00","death_date":null,"sent_get_started_email":false,"course_id":34,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":4476,"roadmap_ref":"af25ff7b-d789-4926-b4d7-4708a45a10b5|1","visit_id":"be66d5fe-9f25-497e-90d4-32e3610c64c0"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2313271/IMG_1061.JPG?1452544633","large_image_src":"https://cdn-photos.bloc.io/large/2313271/IMG_1061.JPG?1452544633","created_at":"2015-10-27
        16:02:46 -0700","facebook_profile_picture_url":"http://graph.facebook.com//picture?width=110\u0026height=110","github_handle":"hcbviolet","codecademy_handle":"hcbviolet","time_zone":{"name":"Pacific
        Time (US \u0026 Canada)","string":"(GMT-08:00) Pacific Time (US \u0026 Canada)","identifier":"America/Los_Angeles"}}'
  recorded_at: Tue, 05 Apr 2016 00:03:26 GMT
recorded_with: VCR 3.0.1
