---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"66554138d9546b8a97213b86dd20db0c"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiM2ViZGQ1YTlkNTBjNDQwMDhlZjVmMzRkM2Y5MDc3OTEiLCJ1c2VyX2lkIjoyMzEzMjcxLCJuYW1lIjoiaGFubmFoIHZpb2xldCJ9.c5hb4DMaRPKMKO7RIederXu2TDPqbhlYyUralfYyFyU","user":{"id":2313271,"email":"hcbviolet@gmail.com","created_at":"2015-10-27T19:02:46.321-04:00","updated_at":"2016-04-04T20:03:36.984-04:00","facebook_id":null,"first_name":"hannah","last_name":"violet","role":"user","stripe_customer_id":"cus_7hbf7hFMQgsNQ1","twitter_handle":"","skype_handle":"","github_handle":"hcbviolet","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"After double majoring in pre-med and ancient
        Near Eastern languages, Seattle-native and David Bowie aficionado Hannah Violet
        has finally found coding as a way to combine her loves of math, language,
        and making stuff. She is beyond excited to be on the path to becoming a web
        developer with Bloc! ","photo_file_name":"IMG_1061.JPG","photo_content_type":"image/jpeg","photo_file_size":2338499,"photo_updated_at":"2016-01-11T15:37:13.317-05:00","tos":null,"send_new_message_emails":true,"referred_by_id":null,"slug":"hannah-violet","os":"OS
        X","last_seen_at":"2016-04-04T20:03:36.906-04:00","private_profile":false,"google_plus_id":"111032954941704193106","linkedin":"","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4476,"phone_num":"2068837461","title":null,"quota_limit":0,"dribbble_handle":"","codecademy_handle":"hcbviolet","student_profile_id":null,"birthdate":"1990-07-11","gender":"","first_visit_id":null,"codewars_handle":"hcbviolet"}}'
  recorded_at: Tue, 05 Apr 2016 00:04:35 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/checkpoints/99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiM2ViZGQ1YTlkNTBjNDQwMDhlZjVmMzRkM2Y5MDc3OTEiLCJ1c2VyX2lkIjoyMzEzMjcxLCJuYW1lIjoiaGFubmFoIHZpb2xldCJ9.c5hb4DMaRPKMKO7RIederXu2TDPqbhlYyUralfYyFyU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7f50e38e446dac7258df4c4a2a54e395"'
    body:
      encoding: UTF-8
      string: '{"id":99,"name":"Creating with Ajax","body":"## Unobtrusive Creation\r\nLet''s
        extend the concepts from the last checkpoint, and enable unobtrusive comment
        creation in this checkpoint.\r\n\r\n## Modifying the Controller\r\nYou already
        declared `respond_to :html, :js` in the `comments_controller`, so we''ll just
        modify the `create` method:\r\n\r\n```ruby\r\ndef create\r\n  @topic = Topic.find(params[:topic_id])\r\n  @post
        = @topic.posts.find(params[:post_id])\r\n  @comment[...]
