---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"66b52c355abb408f53ad4cf71d1df2bd"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiM2ViZGQ1YTlkNTBjNDQwMDhlZjVmMzRkM2Y5MDc3OTEiLCJ1c2VyX2lkIjoyMzEzMjcxLCJuYW1lIjoiaGFubmFoIHZpb2xldCJ9.c5hb4DMaRPKMKO7RIederXu2TDPqbhlYyUralfYyFyU","user":{"id":2313271,"email":"hcbviolet@gmail.com","created_at":"2015-10-27T16:02:46.321-07:00","updated_at":"2016-04-04T17:03:26.201-07:00","facebook_id":null,"first_name":"hannah","last_name":"violet","role":"user","stripe_customer_id":"cus_7hbf7hFMQgsNQ1","twitter_handle":"","skype_handle":"","github_handle":"hcbviolet","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"After double majoring in pre-med and ancient
        Near Eastern languages, Seattle-native and David Bowie aficionado Hannah Violet
        has finally found coding as a way to combine her loves of math, language,
        and making stuff. She is beyond excited to be on the path to becoming a web
        developer with Bloc! ","photo_file_name":"IMG_1061.JPG","photo_content_type":"image/jpeg","photo_file_size":2338499,"photo_updated_at":"2016-01-11T12:37:13.317-08:00","tos":null,"send_new_message_emails":true,"referred_by_id":null,"slug":"hannah-violet","os":"OS
        X","last_seen_at":"2016-04-04T17:03:26.153-07:00","private_profile":false,"google_plus_id":"111032954941704193106","linkedin":"","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4476,"phone_num":"2068837461","title":null,"quota_limit":0,"dribbble_handle":"","codecademy_handle":"hcbviolet","student_profile_id":null,"birthdate":"1990-07-11","gender":"","first_visit_id":null,"codewars_handle":"hcbviolet"}}'
  recorded_at: Tue, 05 Apr 2016 00:03:26 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/mentors/623967/student_availability
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiM2ViZGQ1YTlkNTBjNDQwMDhlZjVmMzRkM2Y5MDc3OTEiLCJ1c2VyX2lkIjoyMzEzMjcxLCJuYW1lIjoiaGFubmFoIHZpb2xldCJ9.c5hb4DMaRPKMKO7RIederXu2TDPqbhlYyUralfYyFyU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3a316eb6006e9c2b9fefc65c4b4181b3"'
    body:
      encoding: UTF-8
      string: '[{"id":15183,"starts_at":"2016-04-11T23:30:00.000Z","ends_at":"2016-04-11T23:59:59.000Z","week_day":2,"booked":true},{"id":15181,"starts_at":"2016-04-11T22:30:00.000Z","ends_at":"2016-04-11T22:59:59.000Z","week_day":1,"booked":null},{"id":15222,"starts_at":"2016-04-08T00:30:00.000Z","ends_at":"2016-04-08T00:59:59.000Z","week_day":5,"booked":null},{"id":15219,"starts_at":"2016-04-07T23:00:00.000Z","ends_at":"2016-04-07T23:29:59.000Z","week_day":5,"booked":null},{"id":15210,"starts_at":"2016-04-07T00:00:00.000Z","ends_at":"2016-04-07T00:29:59.000Z","week_day":4,"booked":true}]'
  recorded_at: Tue, 05 Apr 2016 00:03:28 GMT
recorded_with: VCR 3.0.1
